---
# create sudoer - full playbook
- hosts: localhost
  become: true
  become_method: sudo
  become_user: root
  
  tasks:
  - name: check user is sudoer
    user:
      name: "{{ newSudoer }}"
      state: present
      password: "{{ V3pzenI0c2E1bDMzIQ== | b64decode }}"
      groups: sudo
      
   - name: reset pass
     command: sudo passwd "{{ newSudoer }}"

  #- name: Ensure passwordless sudo for '{{ newSudoer }}'
  #  lineinfile:
  #    dest: /etc/sudoers
  #    state: present
  #    regexp: '^%{{ newSudoer }}'
  #    line: '%{{ newSudoer }} ALL=(ALL) NOPASSWD: ALL'
  #    validate: 'visudo -cf %s'
  #  become: yes
  #  become_method: sudo
